header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    grid-area: header;
}
body{
    background-color: #E5E5E5;
    margin: 0px;
    background-image: url(../images/minimalist-clothing.jpg);
}
.button{
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
}
#prof{
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white;   
    font-family: Poppins;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#logo{
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arvo;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.462);
}
#fd {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins; 
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#upload {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0)); 
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#sout {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#uploadpfp {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#delete {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
}
.test {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomGrid {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteBut {
    font-size: 4em;
    width: 80vh;
    height: 40vh;
    border-radius: 2vh;  
    border: 2px solid black;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.565), rgba(255,0,0,1));
    color: white; 
    font-family: Poppins;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
}