header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    background-color: white;
    /* padding: 10px; */
    border-radius: 10px;
    grid-area: header;
}
/* .gridwrapper {
    font-family: Arial;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-auto-rows: 1fr 9fr;
} */
body{
background-color: #E5E5E5;
margin: 0px;
}
.button{
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    
}
#prof{
    background-color: rgb(54, 21, 0); 
    color: white; 
    font-family: Poppins;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#logo{
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arvo;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.462);
}
#fd {
    background-color: rgb(54, 21, 0); 
    font-family: Poppins; 
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#upload {
    background-color: rgb(54, 21, 0);  
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#sout {
    background-color: rgb(54, 21, 0); 
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#uploadpfp {
    background-color: rgb(54, 21, 0); 
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 



#delete {
    background-color: rgb(54, 21, 0); 
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
}
.test {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomGrid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 85vh;

}
.left{
    /* border: 1px solid black; */
}
.mid{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 3fr 5fr;
}
.profileImage {
    margin-top: 5%;
    background-color: white;
    /* border: 1px solid black;  */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
}
.imgContainer{
    /* border: 1px solid black; */
    margin: 5%;
}
.imgContainer > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
  }
.nameContainer{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5%;
}
.username{
    font-family: Poppins;
    font-size: 1.5em;
    /* border: 1px solid black;   */
    margin: 0;
    padding: 0; 
}
.name{
    font-family: Poppins;
    color: grey;    
    /* border: 1px solid black;  */
    margin: 0;
    padding: 0; 
}
.profileFeed{
    /* background-color: white; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.recentFits{
    background-color: white;
    /* border: 1px solid black; */
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-family: Poppins;
    padding-left: 3%;  
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
    display: flex;
    align-items: center;
}
.receFitsTitle {
    
    margin: 0px;
    padding: 0px;
}
.photoContainer {
    /* border: 1px solid black; */
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    display: grid;
    grid-template-rows: 13fr 1fr;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
}
.photos{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.photo{
    /* border: 1px solid black; */
    margin: 10%;
}
.photo > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.478);
    
  }
.pageScrollContainer{
    border-top: 1px solid grey;
}
.right{
    /* border: 1px solid black; */
}