header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    /* padding: 10px; */
    grid-area: header;
}
/* .gridwrapper {
    font-family: Arial;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-auto-rows: 1fr 9fr;
} */
body{
    background-color: #E5E5E5;
    margin: 0px;
    background-image: url(../images/minimalist-clothing.jpg);
}
.button{
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    
}
#prof{
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white; 
    font-family: Poppins;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#logo{
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arvo;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.462);
}
#fd {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins; 
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#upload {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#sout {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#uploadpfp {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0)); 
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 



#delete {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
}
.test {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomGrid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 600px;
    height: 30vh;

}
.leftBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.508);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 1fr;
    border-radius: 1.5%;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
#uploadIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploadDescCont {
    display: flex;
    justify-content: center;
}
.uploadDesc {
    font-size: 1.5em;
    font-family: Poppins;

}
.picUploadCont {
    padding-bottom: 10%;
    /* padding-top: 37%; */
    /* border: 1px solid black; */
}
.uploadImg {
    /* border: 1px solid black; */
    max-height: 20em;
    max-width: 20em;
    object-fit: cover;
}
.supportCont {
    display: flex;
    justify-content: center;
}
.rightBox {
    padding-top: 6.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitCont {
    display: flex;
    justify-content: center;
}
.submit {
    font-size: 1em;
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white; 
    font-family: Poppins;
    width: 15.5vh;
    height: 5.6vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    border: 2px solid rgb(75, 75, 75);
    margin-left: 10%;
    margin-top: 3%;
}
.description {
    font-family: Poppins;
    border-radius: 3%;
}

input[type="file"] {
    display: none;
}
.picUploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white; 
    font-family: Poppins;
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    border: 2px solid rgb(75, 75, 75);
    margin-top: 3%;
}
