header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    grid-area: header;
}
body{
    background-color: #E5E5E5;
    margin: 0px;
    background-image: url(../images/minimalist-clothing.jpg);
}
.button{
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    
}
#prof{
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white; 
    font-family: Poppins;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#logo{
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arvo;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.462);
}
#fd {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins; 
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#upload {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#sout {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 
#uploadpfp {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0)); 
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
} 



#delete {
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    font-family: Poppins;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
}
.test {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomGrid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 85vh;
}
.mid{
    display: grid;
    grid-template-columns: 3fr 5fr;
}
.profileImage {
    
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
}
.imgContainer{
    margin: 5%;
}
.imgContainer > img {
    object-fit: cover;
    height: 400px;
    max-width: 100%;
    aspect-ratio: 4 / 5;
    background-size: cover;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
  }
.nameContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5%;
    
}
.bottomForm {
    display: grid;
    grid-template-rows: 10fr 1fr 1fr;
}
.formCont {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.uploadForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username{
    font-family: Poppins;
    font-size: 1.5em;
    margin: 0;
    padding: 0; 
}
.name{
    font-family: Poppins;
    color: rgb(72, 72, 72);    
    margin: 0;
    padding: 0; 
}
.profileFeed{
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.recentFits{
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-family: Poppins;
    padding-left: 3%;  
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
    display: flex;
    align-items: center;
}
.receFitsTitle {
    margin: 0px;
    padding: 0px;
}
.photoContainer {
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    display: grid;
    grid-template-rows: 13fr 1fr;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.478);
}
.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.photo{
    margin: 10%;
}
.photo > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.478);
    
  }
.pageScrollContainer{
    border-top: 1px solid grey;
}
input[type="file"] {
    display: none;
}
.submit {
    font-size: 1em;
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white; 
    font-family: Poppins;
    width: 15.5vh;
    height: 5.6vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    border: 2px solid rgb(75, 75, 75);
    margin-left: 10%;
}
.picUploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-image: linear-gradient(to bottom right, rgb(124, 79, 58), rgb(68, 20, 0));
    color: white; 
    font-family: Poppins;
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;  
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375); 
    border: 2px solid rgb(75, 75, 75);
}
.usernameCont {
    margin-left: 5%;
}
.nameCont {
    margin-left: 5%;
}